#header{
    background-color: rgb(65, 65, 184);
    padding: 5px;
    position: relative;
    /*height=120px;
    /*vertical-align: middle;*/
}

#header img{
    width: 150px;
    height: 100px;
    padding: 10px;
    display:block;
}
#header h1{
    text-transform: uppercase;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 250%;
    letter-spacing: 10px;
    /*font-family: Verdana geneva, tahoma, sans-serif*/
    text-shadow: 2px 2px 10px black;
    color:brown;
    text-align: center;
    position: absolute;
    left: 450px;
    top: 25px;
}
#navlinks{
    background-color: lightblue;
    height: 750px;
    width: 150px;
    padding: 5px;
    float: left;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: lightskyblue;
    margin: auto;
}
li a{
    display: block;
    color:#000;
    padding:8px 16px;
    text-decoration: none;
}

/*Change the link color when hovered upon*/
li a:hover{
    background-color: burlywood;
    color:black
}
#main{
    width: 750px;
    height: 740px;
    float: left;
    padding: 10px;
    text-align: justify;
    color: white;
    background-image: url("image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
span{
    color: red;
    font-weight: bold;
}
#fig{
    text-align: center;
    display: flex;
}
#hello{
    text-align: center;
    border-radius: 25px;
    border: 5px solid lightseagreen;
    padding: 5px;
}
#aside{
    float: right;
    background-color: goldenrod;
    width: 573px;
    height: 760px;
    text-align: center;
}
#foot{
    background-color: black;
    color: yellow;
    clear: both;
    text-align: center;
    padding: 10px;
}
#aside form{background-color:#04AA6D;border: 50px;}
h3{ background-color: aquamarine; color: blue;}
/* form css*/
form{border: 3px solid white;}


input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
button{
    background-color: forestgreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}
button:hover{
    opacity: 0.8;
}

.cancelbtn{
    width: auto; 
    padding: 14px 20px;
    background-color: #f44336;
}
.imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}

